body {
    background-color: beige;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.square {
    background-color: white;
    box-sizing: border-box;
}

#container {
    display:flex;
    flex-flow: row wrap;

    width: 400px;
    height: 400px;
    
    margin-bottom: 20px;
}

#bottomButtons,
#bottomButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    margin-bottom: 20px;
}

